{{#each products}}
<div class="row">
  {{#each this}}
  <div class="col-sm-4">
    <div class="card">
      <div class="text-center">
        <img src="{{ this.imgPath }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ this.productName }}</h5>
        <p class="card-text">Some quick{{ this.information.storageCapacity }}<br>
          example text to build {{ this.information.numberOfSim }}<br>
          on the card title {{this.information.cameraResolution}}<br>
          and make up the bulk of the card's {{this.information.displaySize}}<br>
          content.
        </p>
        <div>
          <div class="price float-left">{{ this.price }} $</div>
          <a href="#" class="btn btn-success float-right">BUY</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}